# Lokalnie: http://localhost:3001
# Produkcja: https://twoja-domena-api.vercel.app (zawsze https)
VITE_API_URL=http://localhost:3001
VITE_SITE_URL=https://pakownik.pl
VITE_GA_MEASUREMENT_ID=G-S5PBX0GJF9
# VITE_GA_ENABLED=true
